/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
    src: url('./assets/fonts/PoiretOne-Regular.ttf');
    font-family: "Poiret One";
}

@keyframes difuminado {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

body, html {
    min-height: 100vh;
    height: 100%;
    margin: 0;
}